/* Footer */

position: relative;
width: 1440px;
height: 280px;

background: #18191F;


/* Left Section */

/* Auto Layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 511px;
height: 74px;
left: 365px;
top: 103px;



/* Links */

/* Auto Layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: static;
width: 394px;
height: 26px;
left: 0px;
top: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 24px 0px;


/* Links Row 2 */

/* Auto Layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

position: static;
width: 394px;
height: 26px;
left: 0px;
top: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
align-self: center;
flex-grow: 0;
margin: 12px 0px;


/* About */

position: static;
width: 45px;
height: 26px;
left: 0px;
top: calc(50% - 26px/2);

/* Body / Body 1 */
font-family: Manrope;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */
font-feature-settings: 'liga' off;

color: #FFFFFF;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 24px;


/* Blog */

position: static;
width: 33px;
height: 26px;
left: 69px;
top: calc(50% - 26px/2);

/* Body / Body 1 */
font-family: Manrope;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */
font-feature-settings: 'liga' off;

color: #FFFFFF;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 24px;


/* Careers */

position: static;
width: 59px;
height: 26px;
left: 126px;
top: calc(50% - 26px/2);

/* Body / Body 1 */
font-family: Manrope;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */
font-feature-settings: 'liga' off;

color: #FFFFFF;


/* Inside Auto Layout */
flex: none;
order: 2;
flex-grow: 0;
margin: 0px 24px;


/* Privacy Policy */

position: static;
width: 100px;
height: 26px;
left: 209px;
top: calc(50% - 26px/2);

/* Body / Body 1 */
font-family: Manrope;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */
font-feature-settings: 'liga' off;

color: #FFFFFF;


/* Inside Auto Layout */
flex: none;
order: 3;
flex-grow: 0;
margin: 0px 24px;


/* Contact */

position: static;
width: 61px;
height: 26px;
left: 333px;
top: calc(50% - 26px/2);

/* Body / Body 1 */
font-family: Manrope;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */
font-feature-settings: 'liga' off;

color: #FFFFFF;


/* Inside Auto Layout */
flex: none;
order: 4;
flex-grow: 0;
margin: 0px 24px;


/* © 2021 CypherX. All rights reserved. */

position: static;
width: 229px;
height: 24px;
left: 0px;
top: calc(50% - 24px/2 + 25px);

/* Body / Body 2 */
font-family: Manrope;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
/* identical to box height, or 171% */
font-feature-settings: 'liga' off;

color: #FFFFFF;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 24px 0px;


/* imgbin_graphics-website-wireframe-wire-frame-model-globe-sphere-png 2 */

position: absolute;
width: 142px;
height: 142px;
left: 209px;
top: 69px;

background: url(imgbin_graphics-website-wireframe-wire-frame-model-globe-sphere-png.png);


/* CTA */

position: relative;
width: 1440px;
height: 721px;

/* Default / White */
background: #FFFFFF;


/* mymind-tZCrFpSNiIQ-unsplash 4 */

position: absolute;
width: 2336px;
height: 1084px;
left: -448px;
top: 0px;

background: url(mymind-tZCrFpSNiIQ-unsplash.jpg);


/* Phone Mockup */

position: absolute;
width: 540px;
height: 540px;
left: 165px;
top: 88px;

border-radius: 290px;


/* BG */

position: absolute;
width: 540px;
height: 540px;
left: 0px;
top: 0px;

/* Brand / Purple 100 */
background: #F1E4FF;
border-radius: 8px;


/* Mobile / iPhone X */

position: absolute;
width: 360px;
height: 720px;
left: 90px;
top: 56px;

/* Mobile Mockup Shadow */
filter: drop-shadow(10px 15px 30px rgba(41, 41, 42, 0.5));


/* Screen */

position: absolute;
left: 6.39%;
right: 6.4%;
top: 2.78%;
bottom: 2.8%;

background: url(alex-perez-pEgsWN0kwbQ-unsplash.jpg);


/* iPhone X */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: url(image.png);


/* 500px-MetaMask_Fox 1 */

position: absolute;
left: 31.39%;
right: 31.11%;
top: 22.92%;
bottom: 58.33%;

background: url(500px-MetaMask_Fox.png);
opacity: 0.9;


/* Content */

/* Auto Layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 48px;

position: absolute;
width: 540px;
height: 244px;
left: 766px;
top: 236px;



/* Headline */

position: static;
width: 444px;
height: 54px;
left: 48px;
top: 0px;

/* Heading / H3 */
font-family: Manrope;
font-style: normal;
font-weight: 800;
font-size: 40px;
line-height: 54px;
/* identical to box height, or 135% */
font-feature-settings: 'liga' off;

/* Text / Gray 900 */
color: #18191F;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 32px 0px;


/* Description */

position: static;
width: 444px;
height: 96px;
left: 48px;
top: 86px;

/* Lead / Lead 1 */
font-family: Manrope;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 32px;
/* or 178% */
font-feature-settings: 'liga' off;

/* Text / Gray 900 */
color: #18191F;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 32px 0px;


/* Link Button / Label + Arrow / Large */

/* Auto Layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

position: static;
width: 151px;
height: 30px;
left: 48px;
top: 214px;


/* Inside Auto Layout */
flex: none;
order: 2;
flex-grow: 0;
margin: 32px 0px;


/* Label */

position: static;
left: 0%;
right: 21.19%;
top: 0%;
bottom: 0%;

/* Label / Large Label */
font-family: Manrope;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 30px;
/* identical to box height, or 150% */
font-feature-settings: 'liga' off;

/* Brand / Purple */
color: #8C30F5;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 8px;


/* Essential Icons / right-arrow */

position: static;
left: 84.11%;
right: 0%;
top: 10%;
bottom: 10%;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 8px;


/* Vector */

position: absolute;
left: 4.17%;
right: 4.17%;
top: 20.83%;
bottom: 20.83%;

/* Brand / Purple */
background: #8C30F5;


/* Offering */

position: relative;
width: 1440px;
height: 523px;

background: #FFFFFF;


/* Title + Description / 6 col / Center Align */

/* Auto Layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
left: 35.87%;
right: 35.87%;
top: 14.27%;
bottom: 61.25%;



/* Title / 6 col / Center Align */

/* Auto Layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: static;
width: 407px;
height: 128px;
left: 0px;
top: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 8px 0px;


/* Section Title */

position: static;
width: 407px;
height: 128px;
left: 0px;
top: 0px;

/* Heading / H2 */
font-family: Manrope;
font-style: normal;
font-weight: 800;
font-size: 48px;
line-height: 64px;
/* or 133% */
text-align: center;
font-feature-settings: 'liga' off;

/* Text / Gray 900 */
color: #18191F;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 8px 0px;


/* Features List */

/* Auto Layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 1110px;
height: 174px;
left: 165px;
top: 260px;



/* Row 1 */

/* Auto Layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

position: static;
width: 1110px;
height: 174px;
left: 0px;
top: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 64px 0px;


/* 1 */

/* Auto Layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

position: static;
width: 350px;
height: 174px;
left: 0px;
top: 0px;

border-radius: 8px;

/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 30px;


/* Feature Icons / 07 */

position: static;
width: 32px;
height: 32px;
left: 159px;
top: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 24px 0px;


/* Group */

position: absolute;
left: 4.17%;
right: 4.17%;
top: 4.17%;
bottom: 4.17%;



/* Vector */

position: absolute;
left: 4.17%;
right: 58.33%;
top: 4.17%;
bottom: 58.33%;

/* Brand / Purple */
background: #8C30F5;


/* Vector */

position: absolute;
left: 4.17%;
right: 58.33%;
top: 58.33%;
bottom: 4.17%;

/* Brand / Purple */
background: #8C30F5;


/* Vector */

position: absolute;
left: 54.17%;
right: 4.17%;
top: 8.33%;
bottom: 83.33%;

/* Brand / Turquoise */
background: #2EC5CE;


/* Vector */

position: absolute;
left: 54.17%;
right: 4.17%;
top: 62.5%;
bottom: 29.17%;

/* Brand / Turquoise */
background: #2EC5CE;


/* Vector */

position: absolute;
left: 54.17%;
right: 4.17%;
top: 83.33%;
bottom: 8.33%;

/* Brand / Purple 800 */
background: #D6B1FF;


/* Vector */

position: absolute;
left: 54.17%;
right: 4.17%;
top: 29.17%;
bottom: 62.5%;

/* Brand / Purple 800 */
background: #D6B1FF;


/* Details */

/* Auto Layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

position: static;
width: 350px;
height: 118px;
left: 0px;
top: 56px;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 24px 0px;


/* Headline */

position: static;
left: 0%;
right: 0%;
top: 0%;
bottom: 72.88%;

/* Heading / H5 */
font-family: Manrope;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 32px;
/* identical to box height, or 133% */
text-align: center;
font-feature-settings: 'liga' off;

/* Text / Gray 900 */
color: #18191F;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 8px 0px;


/* Description */

position: static;
width: 350px;
height: 78px;
left: 0px;
top: 40px;

/* Body / Body 1 */
font-family: Manrope;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;
/* or 162% */
text-align: center;
font-feature-settings: 'liga' off;

/* Text / Gray 900 */
color: #18191F;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 8px 0px;


/* 2 */

/* Auto Layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

position: static;
width: 350px;
height: 174px;
left: 380px;
top: 0px;

border-radius: 8px;

/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 30px;


/* Feature Icons / 02 */

position: static;
width: 32px;
height: 32px;
left: 159px;
top: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 24px 0px;


/* Group */

position: absolute;
left: 4.17%;
right: 4.17%;
top: 4.17%;
bottom: 4.17%;



/* Vector */

position: absolute;
left: 4.17%;
right: 4.17%;
top: 4.17%;
bottom: 70.83%;

/* Brand / Purple */
background: #8C30F5;


/* Vector */

position: absolute;
left: 4.17%;
right: 4.17%;
top: 37.5%;
bottom: 37.5%;

/* Brand / Turquoise */
background: #2EC5CE;


/* Vector */

position: absolute;
left: 4.17%;
right: 4.17%;
top: 70.83%;
bottom: 4.17%;

/* Brand / Purple 800 */
background: #D6B1FF;


/* Details */

/* Auto Layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

position: static;
width: 350px;
height: 118px;
left: 0px;
top: 56px;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 24px 0px;


/* Headline */

position: static;
left: 0%;
right: 0%;
top: 0%;
bottom: 72.88%;

/* Heading / H5 */
font-family: Manrope;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 32px;
/* identical to box height, or 133% */
text-align: center;
font-feature-settings: 'liga' off;

/* Text / Gray 900 */
color: #18191F;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 8px 0px;


/* Description */

position: static;
width: 350px;
height: 78px;
left: 0px;
top: 40px;

/* Body / Body 1 */
font-family: Manrope;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;
/* or 162% */
text-align: center;
font-feature-settings: 'liga' off;

/* Text / Gray 900 */
color: #18191F;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 8px 0px;


/* 3 */

/* Auto Layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

position: static;
width: 350px;
height: 174px;
left: 760px;
top: 0px;

border-radius: 8px;

/* Inside Auto Layout */
flex: none;
order: 2;
flex-grow: 0;
margin: 0px 30px;


/* Feature Icons / 03 */

position: static;
width: 32px;
height: 32px;
left: 159px;
top: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 24px 0px;


/* Group */

position: absolute;
left: 4.17%;
right: 4.17%;
top: 4.17%;
bottom: 4.17%;



/* Vector */

position: absolute;
left: 4.17%;
right: 4.17%;
top: 4.17%;
bottom: 75%;

/* Brand / Turquoise */
background: #2EC5CE;


/* Vector */

position: absolute;
left: 4.17%;
right: 70.83%;
top: 33.33%;
bottom: 4.17%;

/* Brand / Purple 800 */
background: #D6B1FF;


/* Vector */

position: absolute;
left: 37.5%;
right: 4.17%;
top: 33.33%;
bottom: 4.17%;

/* Brand / Purple */
background: #8C30F5;


/* Details */

/* Auto Layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

position: static;
width: 350px;
height: 118px;
left: 0px;
top: 56px;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 24px 0px;


/* Headline */

position: static;
left: 0%;
right: 0%;
top: 0%;
bottom: 72.88%;

/* Heading / H5 */
font-family: Manrope;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 32px;
/* identical to box height, or 133% */
text-align: center;
font-feature-settings: 'liga' off;

/* Text / Gray 900 */
color: #18191F;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 8px 0px;


/* Description */

position: static;
width: 350px;
height: 78px;
left: 0px;
top: 40px;

/* Body / Body 1 */
font-family: Manrope;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;
/* or 162% */
text-align: center;
font-feature-settings: 'liga' off;

/* Text / Gray 900 */
color: #18191F;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 8px 0px;


/* Testimonial */

position: relative;
width: 1440px;
height: 920px;

background: #FFFFFF;


/* mymind-tZCrFpSNiIQ-unsplash 3 */

position: absolute;
width: 1440px;
height: 920px;
left: 0px;
top: 0px;

background: url(mymind-tZCrFpSNiIQ-unsplash.jpg);


/* joel-filipe-Wc8k-KryEPM-unsplash 1 */

position: absolute;
width: 985px;
height: 1123px;
left: 617px;
top: -75px;

background: url(joel-filipe-Wc8k-KryEPM-unsplash.jpg);
opacity: 0.9;


/* Quote Mark */

position: absolute;
width: 143px;
height: 120px;
left: 165px;
top: 64px;

opacity: 0.3;


/* “ */

position: absolute;
left: 0%;
right: 0.44%;
top: 0%;
bottom: 0%;

/* Gray 1 */
background: #333333;


/* Testimonial 1 */

/* Auto Layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 32px;

position: absolute;
width: 445px;
height: 340px;
left: 498px;
top: 417px;

/* Default / White */
background: #FFFFFF;
/* Dark Shadow */
box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
border-radius: 8px;


/* Airbnb Logo */

position: static;
width: 130px;
height: 40px;
left: 32px;
top: 32px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 32px 0px;


/* Vector */

position: absolute;
left: -0.02%;
right: 0.34%;
top: -0.07%;
bottom: 0%;

background: #FF385C;


/* Content */

/* Auto Layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

position: static;
width: 381px;
height: 204px;
left: 32px;
top: 104px;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 32px 0px;


/* Quote Mark */

position: static;
width: 16px;
height: 14px;
left: 0px;
top: 0px;

opacity: 0.3;

/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 16px;


/* Page 1 */

position: absolute;
left: 0%;
right: 0.44%;
top: 0%;
bottom: 0%;



/* Customers */

position: absolute;
left: 0%;
right: 0.44%;
top: 0%;
bottom: 0%;



/* Testimonials */

position: absolute;
left: 0%;
right: 0.44%;
top: 0%;
bottom: 0%;



/* “ */

position: absolute;
left: 0%;
right: 0.44%;
top: 0%;
bottom: 0%;

/* Brand / Turquoise */
background: #2EC5CE;


/* Feedback & Person Details */

/* Auto Layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: static;
width: 349px;
height: 204px;
left: 32px;
top: 0px;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 16px;


/* Feedback */

position: static;
width: 349px;
height: 128px;
left: 0px;
top: 0px;

/* Lead / Lead 1 */
font-family: Manrope;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 32px;
/* or 178% */
font-feature-settings: 'liga' off;

/* Text / Gray 900 */
color: #18191F;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 24px 0px;


/* Person Details */

/* Auto Layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: static;
width: 111px;
height: 52px;
left: 0px;
top: 152px;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 24px 0px;


/* Jane Cooper */

position: static;
left: 0%;
right: 0.9%;
top: 0%;
bottom: 46.15%;

/* Subtitle / Subtitle 1 */
font-family: Manrope;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 28px;
/* identical to box height, or 156% */
font-feature-settings: 'liga' off;

/* Text / Gray 900 */
color: #18191F;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 0px;


/* CEO, Airbnb */

position: static;
left: 0%;
right: 30.63%;
top: 53.85%;
bottom: 0%;

/* Lead / Lead 2 */
font-family: Manrope;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 24px;
/* identical to box height, or 171% */
font-feature-settings: 'liga' off;

/* Text / Gray 700 */
color: #969BAB;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 0px;


/* Testimonial 2 */

/* Auto Layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 32px;

position: absolute;
width: 350px;
height: 372px;
left: 1003px;
top: 487px;

/* Default / White */
background: #FFFFFF;
/* Dark Shadow */
box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
border-radius: 8px;


/* BookMyShow Logo */

position: static;
width: 134px;
height: 40px;
left: 32px;
top: 32px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 32px 0px;


/* Group */

position: absolute;
left: 0.81%;
right: 0.87%;
top: 3.08%;
bottom: 3.11%;



/* Vector */

position: absolute;
left: 34.09%;
right: 37.24%;
top: 3.08%;
bottom: 3.11%;

background: #D61920;


/* Vector */

position: absolute;
left: 39.8%;
right: 40.87%;
top: 30.36%;
bottom: 17.35%;

background: #FEFEFE;


/* Vector */

position: absolute;
left: 0.81%;
right: 92.61%;
top: 14.09%;
bottom: 31.86%;

background: #333545;


/* Vector */

position: absolute;
left: 9.55%;
right: 13.88%;
top: 14.14%;
bottom: 31.39%;

background: #333545;


/* Vector */

position: absolute;
left: 87.7%;
right: 0.87%;
top: 30.49%;
bottom: 31.49%;

background: #333545;


/* Content */

/* Auto Layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

position: static;
width: 286px;
height: 236px;
left: 32px;
top: 104px;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 32px 0px;


/* Quote Mark */

position: static;
width: 16px;
height: 14px;
left: 0px;
top: 0px;

opacity: 0.3;

/* Inside Auto Layout */
flex: none;
order: 0;
align-self: flex-start;
flex-grow: 0;
margin: 0px 16px;


/* Page 1 */

position: absolute;
left: 0%;
right: 0.44%;
top: 0%;
bottom: 0%;



/* Customers */

position: absolute;
left: 0%;
right: 0.44%;
top: 0%;
bottom: 0%;



/* Testimonials */

position: absolute;
left: 0%;
right: 0.44%;
top: 0%;
bottom: 0%;



/* “ */

position: absolute;
left: 0%;
right: 0.44%;
top: 0%;
bottom: 0%;

/* Brand / Turquoise */
background: #2EC5CE;


/* Feedback & Person Details */

/* Auto Layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: static;
width: 254px;
height: 236px;
left: 32px;
top: 0px;


/* Inside Auto Layout */
flex: none;
order: 1;
align-self: center;
flex-grow: 0;
margin: 0px 16px;


/* Feedback */

position: static;
width: 254px;
height: 160px;
left: 0px;
top: 0px;

/* Lead / Lead 1 */
font-family: Manrope;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 32px;
/* or 178% */
font-feature-settings: 'liga' off;

/* Text / Gray 900 */
color: #18191F;


/* Inside Auto Layout */
flex: none;
order: 0;
align-self: center;
flex-grow: 0;
margin: 24px 0px;


/* Person Details */

/* Auto Layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: static;
width: 173px;
height: 52px;
left: 0px;
top: 184px;


/* Inside Auto Layout */
flex: none;
order: 1;
align-self: flex-start;
flex-grow: 0;
margin: 24px 0px;


/* Kristin Watson */

position: static;
left: 0%;
right: 25.43%;
top: 0%;
bottom: 46.15%;

/* Subtitle / Subtitle 1 */
font-family: Manrope;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 28px;
/* identical to box height, or 156% */
font-feature-settings: 'liga' off;

/* Text / Gray 900 */
color: #18191F;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 0px;


/* Co-Founder, BookMyShow */

position: static;
left: 0%;
right: 0%;
top: 53.85%;
bottom: 0%;

/* Lead / Lead 2 */
font-family: Manrope;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 24px;
/* identical to box height, or 171% */
font-feature-settings: 'liga' off;

/* Text / Gray 700 */
color: #969BAB;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 0px;


/* Testimonial 3 */

/* Auto Layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 32px;

position: absolute;
width: 355px;
height: 345px;
left: 83px;
top: 331px;

/* Default / White */
background: #FFFFFF;
/* Dark Shadow */
box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
border-radius: 8px;


/* Hubspot Logo */

position: static;
width: 140px;
height: 40px;
left: 32px;
top: 32px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 32px 0px;


/* Layer 2 */

position: absolute;
left: 0%;
right: 0%;
top: -0.01%;
bottom: -0.03%;



/* Group */

position: absolute;
left: 0%;
right: 0%;
top: 16.55%;
bottom: -0.03%;



/* Vector */

position: absolute;
left: 0%;
right: 85.68%;
top: 16.55%;
bottom: 16.11%;

background: #33475B;


/* Vector */

position: absolute;
left: 16.4%;
right: 71.23%;
top: 33.28%;
bottom: 16.06%;

background: #33475B;


/* Vector */

position: absolute;
left: 46.01%;
right: 42.13%;
top: 16.55%;
bottom: 16.1%;

background: #33475B;


/* Vector */

position: absolute;
left: 92.97%;
right: 0%;
top: 21.6%;
bottom: 16.06%;

background: #33475B;


/* Vector */

position: absolute;
left: 30.86%;
right: 55.06%;
top: 16.96%;
bottom: 16.05%;

background: #33475B;


/* Vector */

position: absolute;
left: 59.95%;
right: 25.98%;
top: 33.02%;
bottom: -0.03%;

background: #33475B;


/* Group */

position: absolute;
left: 64.23%;
right: 9.08%;
top: -0.01%;
bottom: 1.43%;



/* Vector */

position: absolute;
left: 64.23%;
right: 9.08%;
top: -0.01%;
bottom: 1.43%;

background: #FF7A59;


/* Content */

/* Auto Layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

position: static;
width: 286px;
height: 204px;
left: 32px;
top: 104px;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 32px 0px;


/* Quote Mark */

position: static;
width: 16px;
height: 14px;
left: 0px;
top: 0px;

opacity: 0.3;

/* Inside Auto Layout */
flex: none;
order: 0;
align-self: flex-start;
flex-grow: 0;
margin: 0px 16px;


/* Page 1 */

position: absolute;
left: 0%;
right: 0.44%;
top: 0%;
bottom: 0%;



/* Customers */

position: absolute;
left: 0%;
right: 0.44%;
top: 0%;
bottom: 0%;



/* Testimonials */

position: absolute;
left: 0%;
right: 0.44%;
top: 0%;
bottom: 0%;



/* “ */

position: absolute;
left: 0%;
right: 0.44%;
top: 0%;
bottom: 0%;

/* Brand / Turquoise */
background: #2EC5CE;


/* Feedback & Person Details */

/* Auto Layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: static;
width: 254px;
height: 204px;
left: 32px;
top: 0px;


/* Inside Auto Layout */
flex: none;
order: 1;
align-self: center;
flex-grow: 0;
margin: 0px 16px;


/* Feedback */

position: static;
width: 254px;
height: 128px;
left: 0px;
top: 0px;

/* Lead / Lead 1 */
font-family: Manrope;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 32px;
/* or 178% */
font-feature-settings: 'liga' off;

/* Text / Gray 900 */
color: #18191F;


/* Inside Auto Layout */
flex: none;
order: 0;
align-self: center;
flex-grow: 0;
margin: 24px 0px;


/* Person Details */

/* Auto Layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: static;
width: 142px;
height: 52px;
left: 0px;
top: 152px;


/* Inside Auto Layout */
flex: none;
order: 1;
align-self: flex-start;
flex-grow: 0;
margin: 24px 0px;


/* Floyd Miles */

position: static;
left: 0%;
right: 32.39%;
top: 0%;
bottom: 46.15%;

/* Subtitle / Subtitle 1 */
font-family: Manrope;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 28px;
/* identical to box height, or 156% */
font-feature-settings: 'liga' off;

/* Text / Gray 900 */
color: #18191F;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 0px;


/* Vice President, GoPro */

position: static;
left: 0%;
right: 0%;
top: 53.85%;
bottom: 0%;

/* Lead / Lead 2 */
font-family: Manrope;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 24px;
/* identical to box height, or 171% */
font-feature-settings: 'liga' off;

/* Text / Gray 700 */
color: #969BAB;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 0px;


/* Title + Description / 5 col / Left Align */

/* Auto Layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 445px;
height: 168px;
left: 260px;
top: 120px;



/* Title / 5 col / Left Align */

/* Auto Layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: static;
width: 445px;
height: 128px;
left: 0px;
top: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 8px 0px;


/* Section Title */

position: static;
width: 445px;
height: 128px;
left: 0px;
top: 0px;

/* Heading / H2 */
font-family: Manrope;
font-style: normal;
font-weight: 800;
font-size: 48px;
line-height: 64px;
/* or 133% */
font-feature-settings: 'liga' off;

/* Text / Gray 900 */
color: #18191F;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 8px 0px;


/* Description */

position: static;
width: 445px;
height: 32px;
left: 0px;
top: 136px;

/* Lead / Lead 1 */
font-family: Manrope;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 32px;
/* identical to box height, or 178% */
font-feature-settings: 'liga' off;

/* Text / Gray 900 */
color: #18191F;


/* Inside Auto Layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 8px 0px;


/* Features */

position: relative;
width: 1440px;
height: 748px;

background: #FFFFFF;


/* Title + Description / 6 col / Center Align */

/* Auto Layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
left: 31.25%;
right: 31.25%;
top: 8.81%;
bottom: 73%;



/* Title / 6 col / Center Align */

/* Auto Layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: static;
width: 540px;
height: 64px;
left: 0px;
top: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 8px 0px;


/* Section Title */

position: static;
width: 540px;
height: 64px;
left: 0px;
top: 0px;

/* Heading / H2 */
font-family: Manrope;
font-style: normal;
font-weight: 800;
font-size: 48px;
line-height: 64px;
/* identical to box height, or 133% */
text-align: center;
font-feature-settings: 'liga' off;

/* Text / Gray 900 */
color: #18191F;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 8px 0px;


/* Description */

position: static;
width: 540px;
height: 64px;
left: 0px;
top: 72px;

/* Lead / Lead 1 */
font-family: Manrope;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 32px;
/* or 178% */
text-align: center;
font-feature-settings: 'liga' off;

/* Text / Gray 900 */
color: #18191F;


/* Inside Auto Layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 8px 0px;


/* Features List */

/* Auto Layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 1110px;
height: 412px;
left: 165px;
top: 248px;



/* Row 1 */

/* Auto Layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

position: static;
width: 1110px;
height: 174px;
left: 0px;
top: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 64px 0px;


/* 1 */

/* Auto Layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

position: static;
width: 350px;
height: 174px;
left: 0px;
top: 0px;

border-radius: 8px;

/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 30px;


/* Feature Icons / 01 */

position: static;
width: 32px;
height: 32px;
left: 159px;
top: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 24px 0px;


/* Vector */

position: absolute;
left: 75%;
right: 0%;
top: 25%;
bottom: 25%;

/* Brand / Purple 800 */
background: #D6B1FF;


/* Vector */

position: absolute;
left: 0%;
right: 70.83%;
top: 0%;
bottom: 0%;

/* Brand / Purple */
background: #8C30F5;


/* Vector */

position: absolute;
left: 37.5%;
right: 33.33%;
top: 0%;
bottom: 0%;

/* Brand / Turquoise */
background: #2EC5CE;


/* Details */

/* Auto Layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

position: static;
width: 350px;
height: 118px;
left: 0px;
top: 56px;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 24px 0px;


/* Headline */

position: static;
left: 0%;
right: 0%;
top: 0%;
bottom: 72.88%;

/* Heading / H5 */
font-family: Manrope;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 32px;
/* identical to box height, or 133% */
text-align: center;
font-feature-settings: 'liga' off;

/* Text / Gray 900 */
color: #18191F;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 8px 0px;


/* Description */

position: static;
width: 350px;
height: 78px;
left: 0px;
top: 40px;

/* Body / Body 1 */
font-family: Manrope;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;
/* or 162% */
text-align: center;
font-feature-settings: 'liga' off;

/* Text / Gray 900 */
color: #18191F;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 8px 0px;


/* 2 */

/* Auto Layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

position: static;
width: 350px;
height: 174px;
left: 380px;
top: 0px;

border-radius: 8px;

/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 30px;


/* Feature Icons / 02 */

position: static;
width: 32px;
height: 32px;
left: 159px;
top: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 24px 0px;


/* Group */

position: absolute;
left: 4.17%;
right: 4.17%;
top: 4.17%;
bottom: 4.17%;



/* Vector */

position: absolute;
left: 4.17%;
right: 4.17%;
top: 4.17%;
bottom: 70.83%;

/* Brand / Purple */
background: #8C30F5;


/* Vector */

position: absolute;
left: 4.17%;
right: 4.17%;
top: 37.5%;
bottom: 37.5%;

/* Brand / Turquoise */
background: #2EC5CE;


/* Vector */

position: absolute;
left: 4.17%;
right: 4.17%;
top: 70.83%;
bottom: 4.17%;

/* Brand / Purple 800 */
background: #D6B1FF;


/* Details */

/* Auto Layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

position: static;
width: 350px;
height: 118px;
left: 0px;
top: 56px;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 24px 0px;


/* Headline */

position: static;
left: 0%;
right: 0%;
top: 0%;
bottom: 72.88%;

/* Heading / H5 */
font-family: Manrope;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 32px;
/* identical to box height, or 133% */
text-align: center;
font-feature-settings: 'liga' off;

/* Text / Gray 900 */
color: #18191F;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 8px 0px;


/* Description */

position: static;
width: 350px;
height: 78px;
left: 0px;
top: 40px;

/* Body / Body 1 */
font-family: Manrope;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;
/* or 162% */
text-align: center;
font-feature-settings: 'liga' off;

/* Text / Gray 900 */
color: #18191F;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 8px 0px;


/* 3 */

/* Auto Layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

position: static;
width: 350px;
height: 174px;
left: 760px;
top: 0px;

border-radius: 8px;

/* Inside Auto Layout */
flex: none;
order: 2;
flex-grow: 0;
margin: 0px 30px;


/* Feature Icons / 03 */

position: static;
width: 32px;
height: 32px;
left: 159px;
top: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 24px 0px;


/* Group */

position: absolute;
left: 4.17%;
right: 4.17%;
top: 4.17%;
bottom: 4.17%;



/* Vector */

position: absolute;
left: 4.17%;
right: 4.17%;
top: 4.17%;
bottom: 75%;

/* Brand / Turquoise */
background: #2EC5CE;


/* Vector */

position: absolute;
left: 4.17%;
right: 70.83%;
top: 33.33%;
bottom: 4.17%;

/* Brand / Purple 800 */
background: #D6B1FF;


/* Vector */

position: absolute;
left: 37.5%;
right: 4.17%;
top: 33.33%;
bottom: 4.17%;

/* Brand / Purple */
background: #8C30F5;


/* Details */

/* Auto Layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

position: static;
width: 350px;
height: 118px;
left: 0px;
top: 56px;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 24px 0px;


/* Headline */

position: static;
left: 0%;
right: 0%;
top: 0%;
bottom: 72.88%;

/* Heading / H5 */
font-family: Manrope;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 32px;
/* identical to box height, or 133% */
text-align: center;
font-feature-settings: 'liga' off;

/* Text / Gray 900 */
color: #18191F;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 8px 0px;


/* Description */

position: static;
width: 350px;
height: 78px;
left: 0px;
top: 40px;

/* Body / Body 1 */
font-family: Manrope;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;
/* or 162% */
text-align: center;
font-feature-settings: 'liga' off;

/* Text / Gray 900 */
color: #18191F;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 8px 0px;


/* Row 2 */

/* Auto Layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

position: static;
width: 1110px;
height: 174px;
left: 0px;
top: 238px;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 64px 0px;


/* 4 */

/* Auto Layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

position: static;
width: 350px;
height: 174px;
left: 0px;
top: 0px;

border-radius: 8px;

/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 30px;


/* Feature Icons / 04 */

position: static;
width: 32px;
height: 32px;
left: 159px;
top: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 24px 0px;


/* Group */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 0%;
bottom: 0%;



/* Vector */

position: absolute;
left: 45.83%;
right: 8.33%;
top: 83.33%;
bottom: 0%;

/* Brand / Purple 800 */
background: #D6B1FF;


/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 0%;
bottom: 83.33%;

/* Brand / Turquoise */
background: #2EC5CE;


/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 25%;
bottom: 25%;

/* Brand / Purple */
background: #8C30F5;


/* Details */

/* Auto Layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

position: static;
width: 350px;
height: 118px;
left: 0px;
top: 56px;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 24px 0px;


/* Headline */

position: static;
left: 0%;
right: 0%;
top: 0%;
bottom: 72.88%;

/* Heading / H5 */
font-family: Manrope;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 32px;
/* identical to box height, or 133% */
text-align: center;
font-feature-settings: 'liga' off;

/* Text / Gray 900 */
color: #18191F;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 8px 0px;


/* Description */

position: static;
width: 350px;
height: 78px;
left: 0px;
top: 40px;

/* Body / Body 1 */
font-family: Manrope;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;
/* or 162% */
text-align: center;
font-feature-settings: 'liga' off;

/* Text / Gray 900 */
color: #18191F;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 8px 0px;


/* 5 */

/* Auto Layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

position: static;
width: 350px;
height: 174px;
left: 380px;
top: 0px;

border-radius: 8px;

/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 30px;


/* Feature Icons / 05 */

position: static;
width: 32px;
height: 32px;
left: 159px;
top: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 24px 0px;


/* Group */

position: absolute;
left: 4.17%;
right: 4.17%;
top: 4.17%;
bottom: 4.17%;



/* Vector */

position: absolute;
left: 4.17%;
right: 79.17%;
top: 4.17%;
bottom: 4.17%;

/* Brand / Purple 800 */
background: #D6B1FF;


/* Vector */

position: absolute;
left: 29.17%;
right: 29.17%;
top: 4.17%;
bottom: 4.17%;

/* Brand / Purple */
background: #8C30F5;


/* Vector */

position: absolute;
left: 79.17%;
right: 4.17%;
top: 4.17%;
bottom: 4.17%;

/* Brand / Turquoise */
background: #2EC5CE;


/* Details */

/* Auto Layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

position: static;
width: 350px;
height: 118px;
left: 0px;
top: 56px;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 24px 0px;


/* Headline */

position: static;
left: 0%;
right: 0%;
top: 0%;
bottom: 72.88%;

/* Heading / H5 */
font-family: Manrope;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 32px;
/* identical to box height, or 133% */
text-align: center;
font-feature-settings: 'liga' off;

/* Text / Gray 900 */
color: #18191F;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 8px 0px;


/* Description */

position: static;
width: 350px;
height: 78px;
left: 0px;
top: 40px;

/* Body / Body 1 */
font-family: Manrope;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;
/* or 162% */
text-align: center;
font-feature-settings: 'liga' off;

/* Text / Gray 900 */
color: #18191F;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 8px 0px;


/* 6 */

/* Auto Layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

position: static;
width: 350px;
height: 174px;
left: 760px;
top: 0px;

border-radius: 8px;

/* Inside Auto Layout */
flex: none;
order: 2;
flex-grow: 0;
margin: 0px 30px;


/* Feature Icons / 08 */

position: static;
width: 32px;
height: 32px;
left: 159px;
top: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 24px 0px;


/* Group */

position: absolute;
left: 1.42%;
right: 1.42%;
top: 0%;
bottom: 0%;



/* Vector */

position: absolute;
left: 1.42%;
right: 1.42%;
top: 0%;
bottom: 53.83%;

/* Brand / Purple */
background: #8C30F5;


/* Vector */

position: absolute;
left: 1.42%;
right: 1.42%;
top: 43.82%;
bottom: 26.8%;

/* Brand / Purple 800 */
background: #D6B1FF;
opacity: 0.64;


/* Vector */

position: absolute;
left: 1.42%;
right: 1.42%;
top: 70.62%;
bottom: 0%;

/* Brand / Turquoise */
background: #2EC5CE;


/* Details */

/* Auto Layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

position: static;
width: 350px;
height: 118px;
left: 0px;
top: 56px;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 24px 0px;


/* Headline */

position: static;
left: 0%;
right: 0%;
top: 0%;
bottom: 72.88%;

/* Heading / H5 */
font-family: Manrope;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 32px;
/* identical to box height, or 133% */
text-align: center;
font-feature-settings: 'liga' off;

/* Text / Gray 900 */
color: #18191F;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 8px 0px;


/* Description */

position: static;
width: 350px;
height: 78px;
left: 0px;
top: 40px;

/* Body / Body 1 */
font-family: Manrope;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;
/* or 162% */
text-align: center;
font-feature-settings: 'liga' off;

/* Text / Gray 900 */
color: #18191F;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 8px 0px;


/* Landing */

position: relative;
width: 1440px;
height: 1076px;



/* mymind-tZCrFpSNiIQ-unsplash 2 */

position: absolute;
width: 1440px;
height: 1076px;
left: 0px;
top: 0px;

background: url(mymind-tZCrFpSNiIQ-unsplash.jpg);


/* CypherX Software. Quality. Security. */

position: absolute;
width: 717px;
height: 346px;
left: 661px;
top: 208px;

font-family: Manrope;
font-style: normal;
font-weight: bold;
font-size: 156px;
line-height: 98px;
/* or 63% */
font-feature-settings: 'liga' off;

/* Text / Gray 900 */
color: #18191F;



/* We help startups and businesses utilize the capabilities of blockchain technologies. Building software since 2011, we’ve applied our combined expertise in creating innovation that brings new levels of openness, productivity, and automation to our clients' business processes. */

position: absolute;
width: 676px;
height: 185px;
left: 661px;
top: 501px;

font-family: Manrope;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 35px;
/* or 148% */

color: #000000;



/* Header / 7 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 91.69%;



/* BG */

position: absolute;
visibility: hidden;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* Default / White */
background: #FFFFFF;
/* Navbar Shadow */
box-shadow: 0px 1px 0px #E5E9F2;


/* Group 1 */

position: absolute;
width: 744px;
height: 89px;
left: 696px;
top: 0px;



/* Left Nav */

/* Auto Layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 744px;
height: 89px;
left: 696px;
top: calc(50% - 89px/2 - 0.23px);



/* Logotype / Dark */

position: static;
width: 105px;
height: 28px;
left: 0px;
top: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
align-self: flex-start;
flex-grow: 0;
margin: 0px 32px;


/* Nav Items */

/* Auto Layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

position: static;
width: 551px;
height: 20px;
left: 137px;
top: 34.5px;


/* Inside Auto Layout */
flex: none;
order: 1;
align-self: center;
flex-grow: 0;
margin: 0px 32px;


/* Header menu / Default */

/* Auto Layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

position: static;
width: 61px;
height: 20px;
left: 0px;
top: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 32px;


/* Label */

position: static;
left: 0%;
right: 14.75%;
top: 0%;
bottom: 0%;

font-family: Quicksand;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 20px;
/* identical to box height, or 111% */
font-feature-settings: 'liga' off;

/* Text / Gray 900 */
color: #18191F;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;


/* Menu Item / Default */

/* Auto Layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

position: static;
width: 69px;
height: 20px;
left: 93px;
top: 0px;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 32px;


/* Label */

position: static;
left: 0%;
right: -1.45%;
top: 0%;
bottom: 0%;

font-family: Quicksand;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 20px;
/* identical to box height, or 111% */
font-feature-settings: 'liga' off;

/* Text / Gray 900 */
color: #18191F;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;


/* Menu Item / Default */

/* Auto Layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

position: static;
width: 45px;
height: 20px;
left: 194px;
top: 0px;


/* Inside Auto Layout */
flex: none;
order: 2;
flex-grow: 0;
margin: 0px 32px;


/* Label */

position: static;
left: 0%;
right: 13.33%;
top: 0%;
bottom: 0%;

font-family: Quicksand;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 20px;
/* identical to box height, or 111% */
font-feature-settings: 'liga' off;

/* Text / Gray 900 */
color: #18191F;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;


/* Menu Item / Default */

/* Auto Layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

position: static;
width: 47px;
height: 20px;
left: 271px;
top: 0px;


/* Inside Auto Layout */
flex: none;
order: 3;
flex-grow: 0;
margin: 0px 32px;


/* Label */

position: static;
left: 0%;
right: 12.77%;
top: 0%;
bottom: 0%;

font-family: Quicksand;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 20px;
/* identical to box height, or 111% */
font-feature-settings: 'liga' off;

/* Text / Gray 900 */
color: #18191F;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;


/* Menu Item / Default */

/* Auto Layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

position: static;
width: 93px;
height: 20px;
left: 350px;
top: 0px;


/* Inside Auto Layout */
flex: none;
order: 4;
flex-grow: 0;
margin: 0px 32px;


/* Label */

position: static;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

font-family: Manrope;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 20px;
/* identical to box height, or 111% */
font-feature-settings: 'liga' off;

/* Text / Gray 900 */
color: #18191F;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;


/* Header menu / Dropdown */

/* Auto Layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

position: static;
width: 76px;
height: 20px;
left: 475px;
top: 0px;


/* Inside Auto Layout */
flex: none;
order: 5;
flex-grow: 0;
margin: 0px 32px;


/* Label */

position: static;
width: 44px;
height: 20px;
left: 0px;
top: 0px;

font-family: Quicksand;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 20px;
/* identical to box height, or 111% */
font-feature-settings: 'liga' off;

/* Text / Gray 900 */
color: #18191F;


/* Inside Auto Layout */
flex: none;
order: 0;
align-self: center;
flex-grow: 0;
margin: 0px 4px;


/* Essential Icons / chevron-down */

position: static;
width: 18px;
height: 18px;
left: 48px;
top: 2px;


/* Inside Auto Layout */
flex: none;
order: 1;
align-self: flex-end;
flex-grow: 0;
margin: 0px 4px;


/* Vector */

position: absolute;
left: 20.83%;
right: 20.83%;
top: 33.33%;
bottom: 33.33%;

/* Text / Gray 900 */
background: #18191F;


/* Logo Container */

position: absolute;
width: 342px;
height: 58px;
left: -51px;
top: 15px;



/* Cypher */

position: absolute;
width: 274px;
height: 44px;
left: -51px;
top: 22px;

font-family: Cormorant Unicase;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 44px;
/* identical to box height */
text-align: center;
letter-spacing: -0.035em;

color: #18191F;



/* X */

position: absolute;
width: 274px;
height: 58px;
left: 17px;
top: 15px;

font-family: Cormorant Unicase;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 58px;
text-align: center;
letter-spacing: -0.035em;

color: #00ACE8;



/* Link Button / Label + Arrow / Large */

/* Auto Layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

position: absolute;
width: 140px;
height: 30px;
left: 661px;
top: 748px;



/* Label */

position: static;
left: 0%;
right: 22.86%;
top: 0%;
bottom: 0%;

/* Label / Large Label */
font-family: Manrope;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 30px;
/* identical to box height, or 150% */
font-feature-settings: 'liga' off;

/* Brand / Purple */
color: #8C30F5;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 8px;


/* Essential Icons / right-arrow */

position: static;
left: 82.86%;
right: 0%;
top: 10%;
bottom: 10%;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 8px;


/* Vector */

position: absolute;
left: 79.17%;
right: -70.83%;
top: 4.17%;
bottom: 37.5%;

/* Brand / Purple */
background: #8C30F5;
transform: rotate(90deg);


/* imgbin_graphics-website-wireframe-wire-frame-model-globe-sphere-png 1 */

position: absolute;
width: 555px;
height: 555px;
left: 78px;
top: 208px;

background: url(imgbin_graphics-website-wireframe-wire-frame-model-globe-sphere-png.png);
