@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;700&display=swap");
body * {
  font-family: "Manrope", sans-serif;
  color: #18191f;
}

.container {
  padding: 20px;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .hidden_small {
    display: none !important;
  }

  .intro {
    padding-top: 80px;
  }
}

header.page_header {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  .logo_link {
    display: flex;
    align-items: center;
    overflow: hidden;
    text-decoration: none;
    logo {
      max-width: 800px;
      padding: 0 50px;
      overflow-x: hidden;
    }
  }

  .top_nav {
    a {
      font-size: 20px;
      margin: 20px;
      text-decoration: none;
    }

    display: flex;
    margin: 10px;
    justify-content: flex-end;
    gap: 20px;
    width: 50%;
    padding: 36px;
  }
}

.site_title {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  line-height: 1.3;
  font-feature-settings: "liga" off;
  color: #18191f;
  @media (min-width: 1440px) {
    font-size: 156px;
  }
}

.site_subtitle {
  font-size: 30px;
  letter-spacing: -1px;
  line-height: 1.3;
  margin-bottom: 30px;
  text-align: left;
  @media (min-width: 1024px) {
    & {
      line-height: 1.1;
      font-size: 50px;
    }
  }
}

.site_transcription {
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.48;
  letter-spacing: 0em;
  text-align: left;
  @media (min-width: 1024px) {
    & {
      font-size: 24px;
    }
  }
}

.featured {
  width: 100%;
  img {
    width: 100%;
    height: auto;
    margin-top: 70px;
  }
}

.hero_section {
  min-height: 100vh;
  display: flex;
  background-image: url(/images/intro_bg.webp);
  /*   background: linear-gradient(110deg, rgba(#f8eaeb, 0.1) 0%, rgba(#f81818, 0.4) 15%, rgba(#e4eef8, 0.2) 40%),
    radial-gradient(closest-side, rgba(#e2d6da, 0.3), rgba(#e4c676, 0.3), rgba(#f69d3c, 0.2)),
    linear-gradient(145deg, rgba(226, 0, 0, 0.3) 30%, rgba(255, 20, 20, 0.2) 50%),
    linear-gradient(145deg, rgba(216, 24, 33, 0.6) 50%, rgba(226, 124, 6, 0) 70%),
    linear-gradient(135deg, rgba(0, 0, 255, 0.2) 70%, rgba(0, 0, 255, 0.6) 100%); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  @media (min-width: 768px) {
    display: block;
    .intro {
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: 62px;
      padding-top: 20vh;
      .text_box {
        max-width: 690px;
      }
    }
  }
}

.contact .top_grid .top_left h1 {
  text-align: center;
}

.l_more {
  position: relative;
  padding-right: 15px;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-decoration: none;
  color: #8c30f5;
  &::after {
    margin-top: -29px;
    display: block;
    position: absolute;
    right: 0;
    content: "\18";
    transform: rotate(0.5turn);
  }
}

.testimonials,
.offering_section,
.features_section {
  padding-top: 65px;
  padding-bottom: 80px;
  text-align: center;
}

.features_grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  .feature_item {
    min-width: 300px;
    max-width: 350px;
  }
}

.subtitle {
  display: block;
  max-width: 540px;
  margin: 8px auto 47px;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
}

.testimonials {
  min-height: 920px;
  background: url(/images/intro_bg.webp) left no-repeat, url(/images/tm_bg.webp) right no-repeat;
  background-size: 43% 100%, 57% 100%;
  .testimonials_head {
    * {
      text-align: center;
      word-wrap: break-word;
    }

    h2 {
      position: relative;
      img {
        position: absolute;
        left: 0;
        transform: translate(-35%, -20%);
        -webkit-transform: translate(-35%, -20%);
        -moz-transform: translate(-35%, -20%);
        -ms-transform: translate(-35%, -20%);
        -o-transform: translate(-35%, -20%);
      }
    }

    @media (min-width: 1024px) {
      & {
        margin-left: 260px;
        margin-top: 60px;
        margin-bottom: 60px;
        border-radius: 0px;
        width: 445px;
        * {
          text-align: left;
        }

        & img {
          position: absolute;
          left: 0;
          margin-bottom: 15px;
          transform: translate(-65%, -50%) !important;
          -webkit-transform: translate(-65%, -50%) !important;
          -moz-transform: translate(-65%, -50%) !important;
          -ms-transform: translate(-65%, -50%) !important;
          -o-transform: translate(-65%, -50%) !important;
        }
      }
    }
  }

  .testimonials_list {
    padding: 40px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    .testimonial_card {
      width: 94%;
      border-radius: 8px;
      background: #fff;
      padding: 32px;
      text-align: left;
      box-shadow: 0px 10px 20px 0px rgba(41, 41, 42, 0.07);
    }

    img {
      display: block;
    }

    h4 {
      margin: 24px 0 0 24px;
      font-family: Manrope;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 28px;
      letter-spacing: 0em;
    }

    .quote {
      text-align: left;
      position: relative;
      margin: 24px 0 0 24px;
      color: #18191f;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 32px;
      letter-spacing: 0em;
      font-feature-settings: "liga" off;
      img {
        position: absolute;
        top: 0;
        transform: translateX(-30px);
        -webkit-transform: translateX(-30px);
        -moz-transform: translateX(-30px);
        -ms-transform: translateX(-30px);
        -o-transform: translateX(-30px);
      }
    }

    p {
      margin-left: 64px;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0em;
      color: #969bab;
    }

    @media (min-width: 768px) {
      .quote,
      h4 {
        margin: 24px 0 0 64px;
      }
    }
  }

  @media (min-width: 1024px) {
    .testimonials_list {
      padding: 40px 0;
      display: flex;
      justify-content: center;
      gap: 60px;
      .testimonial_card {
        width: 355px;
        border-radius: 8px;
        background: #fff;
        padding: 32px;
        text-align: left;
        box-shadow: 0px 10px 20px 0px rgba(41, 41, 42, 0.07);
      }

      img {
        display: block;
      }

      h4 {
        margin: 24px 0 0 64px;
        font-family: Manrope;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: 0em;
      }

      .quote {
        position: relative;
        margin: 24px 0 0 64px;
        color: #18191f;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0em;
        font-feature-settings: "liga" off;
        img {
          position: absolute;
          top: 0;
          transform: translateX(-30px);
          -webkit-transform: translateX(-30px);
          -moz-transform: translateX(-30px);
          -ms-transform: translateX(-30px);
          -o-transform: translateX(-30px);
        }
      }

      p {
        margin-left: 64px;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0em;
        color: #969bab;
      }

      .testimonial_card:nth-child(1) {
        transform: translateY(-50px);
        -webkit-transform: translateY(-50px);
        -moz-transform: translateY(-50px);
        -ms-transform: translateY(-50px);
        -o-transform: translateY(-50px);
      }

      .testimonial_card:nth-child(2) {
        width: 445px;
      }

      .testimonial_card:nth-child(3) {
        transform: translateY(50px);
        -webkit-transform: translateY(50px);
        -moz-transform: translateY(50px);
        -ms-transform: translateY(50px);
        -o-transform: translateY(50px);
      }
    }
  }
}

.offering_section {
  h2 {
    max-width: 540px;
    margin: 5px auto 60px;
    word-wrap: break-word;
  }

  .offers_list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    .offer_card {
      max-width: 350px;
      min-width: 250px;
    }
  }

  @media (min-width: 1024px) {
    h2 {
      margin: 75px auto 60px;
    }
  }
}

.cta_section {
  padding: 20px;
  display: grid;
  background-image: url(/images/intro_bg.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .cta_intro {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    .cta_descr {
      align-self: center;
      max-width: 445px;
    }
  }

  @media (min-width: 1440px) {
    padding: 90px 180px;
    .cta_intro {
      gap: 110px;
    }
  }
}

.page_footer {
  background: #0b0d17;
  min-height: 280px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  a {
    color: #fff;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-decoration: none;
  }

  p {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #d9dbe1;
  }
}

.footer_grid {
  padding: 20px;
  display: grid;
  gap: 20px;
  background: #0b0d17;
  .col_2 {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    .bottom_nav {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
    }
  }

  @media (min-width: 1024px) {
    & {
      align-items: center;
      display: flex;
      gap: 60px;
      .col_2 {
        height: 90px;
      }
    }
  }
}

@media (min-width: 1500px) {
  .wrapper {
    width: 1440px;
  }
}

.about_top {
  background: url(/images/intro_bg.webp) left no-repeat;
  background-size: 100% 100%;
  align-items: center;
  * {
    text-align: left;
  }

  @media (min-width: 1024px) {
    padding-top: 175px;
    background: url(/images/intro_bg.webp) left no-repeat, url(/images/about_bg_right.webp) right no-repeat;
    background-size: 55% 100%, 45% 100%;
  }
}

.top_grid {
  display: grid;
  min-height: 100vh;
  gap: 50px;
  .top_left {
    padding-top: 80px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 80px;
    h1 {
      font-weight: 700;
      font-size: 56px;
    }
  }

  .top_right {
    align-self: center;
    margin-top: -110px;
    padding: 30px;
    h2 {
      font-size: 28px;
      font-style: normal;
      font-weight: 700;
      line-height: 1.1;
      letter-spacing: 0em;
    }
  }

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
    .top_left {
      padding-bottom: 20px;
    }
  }

  @media (min-width: 1024px) {
    grid-template-columns: 1fr 1fr;
    .top_right {
      padding-left: 80px;
      h2 {
        font-size: 48px;
      }
    }

    .top_left {
      padding-bottom: 180px;
    }
  }

  @media (min-width: 1440px) {
    grid-template-columns: 55% 45%;
  }
}

.team_box {
  padding: 30px;
  .team_grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    .team_card {
      max-width: 420px;
      * {
        text-align: center;
      }

      img {
        display: block;
        margin: 50px auto;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
      }
    }
  }

  @media (min-width: 1024px) {
    & {
      padding: 60px;
      .team_grid {
        gap: 60px;
      }
    }
  }

  @media (min-width: 1440px) {
    & {
      padding: 110px;
      .team_grid {
        gap: 80px;
      }
    }
  }
}

/* Cookie-Banner */
.cookie_banner {
  position: relative;
  width: 1440px;
  height: 241px;

  background: #f4076d;
  border-radius: 100px 100px 0px 0px;

  /* Description */

  position: absolute;
  width: 783px;
  height: 88px;
  left: 87px;
  top: calc(50% - 88px / 2 + 4.5px);

  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  /* or 100% */
  font-feature-settings: "liga" off;

  color: #ffffff;
}

//////// Contact
.contact .about_top {
  background: url(/images/intro_bg.webp) left no-repeat, url(/images/contact_bg2.webp) right no-repeat;
  background-size: 55% 100%, 45% 100%;
}

.contact_grid {
  max-width: 378px;
  display: grid;
  gap: 18px;
  p {
    font-size: 22px;
    line-height: 1.6;
  }

  input,
  textarea {
    padding: 18px;
    font-size: 20px;
    width: 100%;
  }

  .subscribe_button {
    color: #fff;
    text-align: center;
    background: #000;
    outline: none;
    border: none;
    cursor: pointer;
    &:disabled {
      cursor: none;
      background: #777;
    }
  }
}

.g-recaptcha {
  background: #eee;
}

@media (max-width: 768px) {
  .menuItem {
    background: #fdd6d1;
    width: 100%;
    text-align: center;
  }
}

////// Cookies ///////////
.CookieConsent {
  align-content: center !important;
  justify-content: center;
  gap: 30px;
  .cookieButtons_box {
    align-self: center;
    button {
      border-radius: 8px !important;
      width: 150px;
      height: 46px;
      font-size: 18px;
      color: #000 !important;
      background-color: rgb(225, 236, 246) !important;
    }

    button:nth-child(2) {
      background: rgb(250, 0, 67) !important;
      color: #fff !important;
    }
  }

  .rejectButton {
    background: #c1c1c3 !important;
  }
}

.cookies_box {
  max-width: 783px;
}

.cookies_text {
  color: #fff;
  /* font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.05;
  letter-spacing: 0em; */
  margin: 0;
}

.posts_list {
  max-width: 900px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 150px;
  list-style-type: none;
  li {
    margin-top: 20px;
    padding: 20px;
    box-shadow: 4px 2px 14px #ddd;
    display: grid;
    gap: 20px;
    @media(min-width: 768px){
      grid-template-columns: 200px 1fr;
    }
  }

  h2 {
    text-align: left;
    font-size: 2rem;
  }
}

.page_outer {
  display: grid;
  min-height: 100vh;
  grid-template-rows: 1fr 250px ;
}

.post_wrapper {
  max-width: 800px;
  margin: 130px auto 30px;
  padding: 20px;
}